<p>home works!</p>

<h3>ACTIVE: {{active}}</h3>
<h3>PERSONS: {{persons}}</h3>
<h3>ALARM: {{alarm}}</h3>

<p>(DL) Door Light: {{dl_value}}</p>
<p>(DPIR1) Door PIR 1: {{dpir1_value}}</p>
<p>(DUS1) Door US 1: {{dus1_value}}</p>
<p>(DS1) Door Sensor 1: {{ds1_value}}</p>
<p>(DS2) Door Sensor 2: {{ds2_value}}</p>
<p>(DB) Door Buzzer: {{db_value}}</p>

<input [(ngModel)]="pin" />
<button (click)="send_alarm_pin()">Send alarm pin</button>
<button (click)="send_activate_pin()">Send activate pin</button>

<button (click)="probaNaServer()">asdads</button>
